{% extends "skeleton.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Gagarin A, Makarenkov V, Zentilli P. (2006) Using clustering tech- niques to improve hit selection in high-throughput screen-ing. J Biomol Screen;11:903–14.
            </p>
        </div>
    </div>
</div>

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Gagarin,A., Kevorkov,D., Makarenkov,V. and Zentilli,P. (2006) Comparison of two methods for detecting and correcting systematic error in HTS data. In Proceedings of IFCS 2006, Ljubljana, Springer-Verlag.
            </p>
        </div>
    </div>
</div>

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Hastie,T., Tibshirani,R. and Friedman,J. (2001) The Elements of Statistical Learning. Springer-Verlag.

            </p>
        </div>
    </div>
</div>

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Makarenkov V, Kevorkov D, Zentilli P, et al. (2006) HTS-Corrector: software for the statistical analysis and correction of experimental high-throughput screening data. Bioinformatics; 22:1408–9
            </p>
        </div>
    </div>
</div>

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Makarenkov V, Zentilli P, Kevorkov D, et al.(2007) An efficient method for the detection and elimination of systematic error in high-throughput screening. Bioinformatics 23:1648–57.
            </p>
        </div>
    </div>
</div>

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Malo N, Hanley JA, Cerquozzi S, et al. 2006)Statistical practice in high-throughput screening data analysis. Nat Biotechnol; 24:167–75.
            </p>
        </div>
    </div>
</div>

<div class="box">
    <div class="row text-center">
        <div class="col-md-12">
            <p>
                Murie C, Barette C, Lafanechère L, et al (2015). Improving detection of rare biological events in high-throughput screens. J Biomol Screen 20(2):230–241.
            </p>
        </div>
    </div>
</div>

{% endblock %}