{% extends "chapitre.html" %}
{% block contenu %}
<!--put your html here-->

<h2 class="intro-text text-center"><strong>Correction des erreurs et sélection des hits</strong></h2>
<br>

<h3>
    La normalisation
</h3>

<p>
    Avant de pouvoir faire des comparaisons entre plusieurs plaques il est primordial de normaliser les données de chacune des plaques. Il existe plusieurs méthodes simples de normalisation. En voici quatre fréquemment utilisées en HTS.
</p>

<p>
    La normalisation par rapport aux contrôles qui se base à la fois sur les contrôles positifs et les contrôles négatifs selon la formule suivante:
</p>

<br>
<img src="http://chart.googleapis.com/chart?cht=tx&chl=%5Chat%7Bx%7D_%7Bij%7D%20%3D%20%5Cfrac%7Bx_%7Bij%7D-%5Cmu_%7Bneg%7D%7D%7B%5Cmu_%7Bpos%7D-%5Cmu_%7Bneg%7D%7D" class="center-block formule">
<div class="text-center">
    <p>
        où xij est la mesure brute de chacun des puits</p>
    <p>
        pos est la moyenne des controle positifs
    </p>
    <p>
        neg est la moyenne des controle négatifs
    </p>
</div>
<br>

<p>
    Une autre méthode de normalisation basée sur le pourcentage d’inhibition médian s’applique avec la formule suivante:
</p>

<br>
<img src="http://chart.googleapis.com/chart?cht=tx&chl=%5Chat%7Bx%7D_%7Bij%7D%20%3D%20100%5Ccdot%5Cleft(1-%20%5Cfrac%7Bx_%7Bij%7D%7D%7Bmed%7D%5Cright)" class="center-block formule">
<div class="text-center">
    <p>
        où med est la médiane de l’ensemble des mesure de la plaque.
    </p>
</div>
<br>

<p>
    La normalisation par centrage réduction utilise la formule suivante:
</p>
<br>
<img src="http://chart.googleapis.com/chart?cht=tx&chl=%5Chat%7Bx%7D_%7Bij%7D%20%3D%20%5Cfrac%7Bx_%7Bij%7D%20-%20%5Cmu%7D%7B%5Csigma%7D" class="center-block formule">
<div class="text-center">
    <p>
        où &#956; est la moyenne et &#963; est l'écart type
    </p>
</div>
<br>

<p>
    La normalisation par cote-Z robuste permet de tenir compte des variabilités interplaque, elle se fait selon la formule suivante:
</p>
<br>
<img src="http://chart.googleapis.com/chart?cht=tx&chl=%5Chat%7Bx%7D_%7Bij%7D%20%3D%20%5Cfrac%7Bx_%7Bij%7D%20-%20med%7D%7BMAD%7D" class="center-block formule">
<div class="text-center">
    <p>
        où MAD est la déviation absolue médiane des mesures de la plaque
    </p>
</div>
<br>
<p>
    Suite à la normalisation, on fait généralement une élimination des données aberrantes avant de passer aux étapes suivantes.
</p>


{% endblock contenu %}