{% extends "chapitre.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block contenu %}

<h2 class="intro-text text-center"><strong>HTS-corrector Démonstration</strong></h2>
<br>

<h3>Conclusion</h3>

<p>
    La dernière étape serait de procéder à la sélection des hits dans notre jeu de donnée. ‘HTS-corrector’  nous propose d’effectuer cette analyse via l’onglet ‘Hits Selection’ . Plusieurs options sont disponibles et l’on peut choisir si nous désirons effectuer cette analyse sur l’ensemble du jeu de donnée, par clusters, ou bien par plaques. Le programme offre également plusieurs outils de conversion permettant l’utilisation de fichiers au format excel, où la création d’une liste contenant uniquement les hits par rapport à un fichier produit via la méthode ‘Hit Selection’ vu précédemment. Enfin, les options sont très flexibles concernant les possibilités d’ajustement en nous permettant de modifier des seuils limites pour certains tests où de spécifier le type d’analyse à effectuer (inhibition/activation) faisant de ‘HTS-corrector’ un bon outil de bio-informatique.</p>




{% endblock contenu %}